.root {
  display: flex;
  min-height: 100%;
  border: 1px solid black;
  flex-direction: column;
}

.header {
  padding: 0.5em;
  text-align: center;
}

.body {
  height: 100%;
  padding: 1em;
  background-color: var(--color-darker);
  flex: 1;
}

h1 {
  margin: 0;
}
