.root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.header {
  min-height: 5vh;
  padding: 0.25em;
  font-size: 32pt;
  color: white;
  background-color: var(--color-primary);
}

.body {
  display: grid;
  padding: 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  flex-grow: 1;
}
